@import"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
.grid {
  display: grid;
  grid-template-columns: 1 fr;
  grid-gap: 1em;
  justify-content: center;
  margin-top: 3rem;;
}
.inner-grid {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-gap: 1em;
  margin-top: 3rem;;
  width: 100%;

}
  .orders {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50rem;
    
  }
  
  .orders__item h1 {
      margin: 0;
      font-size: 1rem;
  }
  
  .orders__item {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background: teal;
    color: black;
    padding: 1rem;
    width: 50%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
  }
  
  .orders__products {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  .orders__products-item {
      margin: 0.5rem 0;
      padding: 0.5rem;
      border: 1px solid #00695c;
     
      color: black;
  }
  
  .fa {
    margin-left: -12px;
    margin-right: 8px;
  }
  @media screen and (max-width: 800px) {
    .orders {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 40rem;
      
    }
  }
  @media screen and (max-width: 644px) {
    .orders {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 30rem;
      
    }
  }

   