<div class="container-fluid" >
    <div class="container"fxLayoutAlign="center" >
        <mat-card class="example-card" >
            <mat-card-header >
              
              <mat-card-title fxLayoutAlign="center" >
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS6rPwtfXB-mLLtQC-9B5YzEmAFMPtZ6vGr1Q&usqp=CAU" alt="404">
              </mat-card-title>
              
            </mat-card-header>
            <hr>
            <mat-card-content fxLayoutAlign="center">
                <h4> <i>OOPS!!! You have reached where you should not...</i> </h4>
                
            </mat-card-content>
            <hr>
          </mat-card>
          
    </div>
</div>