@import"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
.sun-tornado{
  background-color: #aadef7;
  background-attachment: fixed;
  background-size: cover;
}
  .type-A{
    display: flex;
    width: 100%;
    height: 657px;
  }
  .left-typeA{
    margin-top: 80px;
    width: 100%;
  }
  
  .fa {
    margin-left: -12px;
    margin-right: 8px;
  }
  .centered {
    text-align: center;
    color: rgb(0, 0, 0);
  }
  .image {
    height: 20rem;
  }
  
  .image img {
    height: 100%;
  }
  hr{
      border: solid teal 1px;
  }
  p{
      font-size: 20px;
  }
  button:hover{
      background: teal;
      color: whitesmoke;
  }
  button:focus{
      outline: none;
  }
  