
<div class="grid" >
    <div class="inner-grid" > 
       <h1 *ngIf="isFetching" style="color: rgb(0, 0, 0); text-align: center;">
            <i class="fa fa-circle-o-notch fa-spin"></i>
            <i>Fetching...</i>
        </h1>
        <h1 *ngIf="isProduct && !isFetching" style="color: rgb(0, 0, 0); text-align: center;">Nothing there!!!</h1>
       <section *ngIf="!isProduct">
          
        <ul class="cart__item-list" *ngFor="let productDetail of productDetails" >
            <li class="cart__item">
                <h1>{{productDetail.productId.title}}</h1>
                <h2>Quantity:</h2>
               
                    <input type="number" name="quantity" value="{{productDetail.quantity}}" style="width: 3rem;" min="1" #increaseQuantity (change)="onAddQuantity(productDetail._id,increaseQuantity.value)">
                      
                    <button mat-raised-button  type="button" (click)="onDelete(productDetail.productId._id)" >Delete</button>
                
            </li>
    </ul>
    <hr>
    <div class="centered">
        <a class="btn" routerLink="/checkout" style="color: black;">
            <button mat-raised-button type="submit" >Order Now!</button>
        </a>
    </div>
       </section>
        
   
      
    </div>
</div>
