.grid {
  display: grid;
  grid-template-columns: 1 fr;
  grid-gap: 1em;
  justify-content: center;
  margin-top: 3rem;;
}
.inner-grid {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-gap: 1em;
  width: 100%;

}

  form{
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    margin: auto;
    margin-top: 3rem;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: 530px;
    color: black;
    background: rgb(255, 255, 255);
    
  }
  .buttonload {
   
    /* White text */
    
    font-size: 16px; /* Set a font-size */
  }
  
  /* Add a right margin to each icon */
  .fa {
    margin-left: -12px;
    margin-right: 8px;
  }
  mat-form-field{
   
      width: 400px;
      
      color: black;
  }
  .row{
    margin-top: 2rem;
  }
  .file{
    background: teal;
    color: whitesmoke;
    border-radius: 10px;
    width: 100%;

  }
  .file:focus{
    outline: none;
  }
  img{
    max-height: 100px;
    max-width: 100px;
  
    text-align: center;
    margin-top: 2px;
    border-radius: 5px;
    margin-left: 150px;
  }
  button:focus{
    outline: none;
  }
  @media screen and (max-width: 592px) {

    .grid {
      display: grid;
      grid-template-columns: 0.5fr;
      grid-gap: 0.5em;
      justify-content: center;
      margin-top: 3rem;;
    }
    .inner-grid {
      display: grid;
      grid-template-columns: repeat(1,0.5fr);
      grid-gap: 0.5em;
      width: 60%;
    }
    form{
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
      margin: auto;
      margin-top: 3rem;
      padding: 10px;
      border-radius: 10px;
      width: 100%;
      height: 530px;
      color: black;
      background: rgb(255, 255, 255);
      
    }
    mat-form-field{
   
      width: 350px;
      
      color: black;
  }
  }