<div class="grid" >
    <div class="inner-grid" > 
        <form [formGroup]="addProduct"   (ngSubmit)="onSubmit()">
                    <div>
                        <mat-form-field hint="Do not enter already registered email">
                            <input type="text" name="title"  formControlName="title" matInput placeholder="Title"> 
                            <mat-error *ngIf="addProduct.controls['title'].hasError('required')">This field is required</mat-error>
                            <br>
                        </mat-form-field>
                    </div>
                    <div>
 
                           <!--  
                               <input class="file" type="file" name="image" id="image" multiple="false" (change)="onFileSelect($event)" formControlName="imageUrl" ><br>
                            <img [src]="imgSrc" >
                         -->
                         <mat-form-field hint="Enter valid imageUrl">
                            <input type="text" name="image"  formControlName="image" matInput placeholder="Image"> 
                            <mat-error *ngIf="addProduct.controls['image'].hasError('required')">This field is required</mat-error>
                            <br>
                        </mat-form-field>
                           
                    </div>
                    <div>
                        <mat-form-field >
                            <input type="number" name="price" min="1" formControlName="price" matInput placeholder="Price">
                            <mat-error *ngIf="addProduct.controls['price'].hasError('required')">This field is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field hint="Min. 8 character is required">
                            <textarea name="description" formControlName="description" matInput placeholder="Description"   cols="30" rows="10" >
                                
                            </textarea>
                            <mat-error *ngIf="addProduct.controls['description'].hasError('required')">This field is required</mat-error>
                                <mat-error *ngIf="addProduct.controls['description'].hasError('minlength')">Description length must be of atleast 8 </mat-error>
                           
                        </mat-form-field>
                    </div>
                    
                    <div> 
                        <br>
                        <button  mat-raised-button color="accent" class="buttonload" type="submit" 
                                *ngIf="(!onLoadingState) && (!editMode)"
                                [disabled]="addProduct.invalid">
                            Add Product
                        </button>
                         <button mat-raised-button color="accent" class="buttonload" type="submit" 
                            *ngIf="(!onLoadingState) && (editMode)">
                            Edit Product
                        </button>

                        <button mat-raised-button color="accent" class="buttonload" type="button"
                                *ngIf="onLoadingState && !editMode">
                            <i class="fa fa-circle-o-notch fa-spin" *ngIf="onLoadingState"></i>
                           Adding
                        </button>
                        <button mat-raised-button color="accent" class="buttonload" type="button"
                            *ngIf="onLoadingState && editMode">
                            <i class="fa fa-circle-o-notch fa-spin" *ngIf="onLoadingState"></i>
                            Editing
                            </button>
                        <br><br>

                    </div>
 
        </form>
    </div>
</div>