<div class="grid" >
    <div class="inner-grid" > 
        <h1 *ngIf="isFetching && !isPaid" style="color: rgb(0, 0, 0); text-align: center;">
            <i class="fa fa-circle-o-notch fa-spin"></i>
            <i>Fetching...</i>
        </h1>
        <h1 *ngIf="isOrder && !isFetching" style="color: rgb(0, 0, 0); text-align: center;">Nothing there!!!</h1>
        <section *ngIf="!isOrder && !isPaid">
            <ul class="cart__item-list"  *ngFor="let productDetail of productDetails" >
         
                <li class="cart__item">
                    <h1>{{productDetail.productId.title}}</h1>
                    <h2>Quantity: {{productDetail.quantity}}</h2>
                </li>
           
        </ul>
        <div class="centered">
            <h2>Total: ${{total}}</h2>
        </div>
        <div class="centered">
          
                <button id="order-btn" mat-raised-button (click)="onOrder()">ORDER</button>

            

        </div>
       
        </section>
        <div class="centered" *ngIf="isPaid">  
            <mat-card ><h1>Successfully Paid!!!</h1></mat-card>
       
         </div>
    
    </div>
</div>
