@import"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
.grid {
  display: grid;
  grid-template-columns: 1 fr;
  grid-gap: 1em;
  justify-content: center;
  margin-top: 3rem;;
}
.inner-grid {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-gap: 1em;
  width: 100%;

}
  .orders {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 3rem;;
  }
  
  .orders__item h1 {
      margin: 0;
      font-size: 1.5rem;
  }
  
  .orders__item {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background: teal;
    color: black;
    padding: 1rem;
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 5px;
  }
  
  .orders__products {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  .orders__products-item {
      margin: 0.5rem 0;
      padding: 0.5rem;
      border: 1px solid #00695c;
     font-size: 1rem;
      color: black;
  }
  .fa {
    margin-left: -12px;
    margin-right: 8px;
  }
  .fetching{
    color: rgb(0, 0, 0);
    margin-top: 5rem;
    text-align: center;
  }
  .pagination {
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;;
    

  }
  
  .pagination a {
    text-decoration: none;
    color: #00695c;
    padding: 0.5rem;
    border: 1px solid #00695c;
    margin: 0 1rem;
  }
  
  .pagination a:hover,
  .pagination a:active,
  .pagination a.active {
    background: #00695c;
    color: white;
  }

  .btn {
    display: inline-block;
    padding: 0.25rem 1rem;
    text-decoration: none;
    font: inherit;
    border: 1px solid #00695c;
    color: #00695c;
    background: white;
    border-radius: 3px;
    cursor: pointer;
   
  }